.leftimg {
    width: 275px;
    height: auto;
}
.first-block{
    padding-top: 100px;
    display: flex;
    width: 40%;
    gap: 30px;
}
.news-block{
    display: flex;
    justify-content: space-between;
}